---
import BaseInformationPageLayout from "@layouts/BaseInformationPageLayout.astro";
import BoardDistinctPersonCard from "@components/pages/editorial-board/BoardDistinctPersonCard.astro";
import "@styles/about/editorial-board.css";
import { NAVIGATION } from "@lib/client/navigation";
import mainImage from "@assets/images/mainImages/futuristic-time-machines-design.jpg";
const CO_EDITORS: {
	fullName: string;
	country: string;
	affiliation: string;
	color?: "accent" | "secondary";
}[] = [
	{
		fullName: "Antonio F.B.A. Prado",
		affiliation: "National Institute for Space Research",
		country: "Brazil",
	},
	{
		fullName: "Shufan Wu",
		affiliation: "Shanghai Jiao Tong University",
		country: "China",
	},
	{
		fullName: "Ketan Kotecha",
		affiliation: "Symbiosis International (Deemed University)",
		country: "India",
	},
	{
		fullName: "Renuganth Varatharajoo",
		affiliation: "Universiti Putra Malaysia",
		country: "Malaysia",
	},
	{
		fullName: "Meena Laad",
		affiliation: "Symbiosis International (Deemed University)",
		country: "India",
	},
	{
		fullName: "Ravinder Rena",
		affiliation: "Durban University of Technology",
		country: "South Africa",
	},
	{
		fullName: "Fabio Krykhtine",
		affiliation: "Federal University of Rio de Janeiro",
		country: "Brazil",
	},
	{
		fullName: "Felix Mora-Kamino",
		affiliation: "French Civil Aviation University",
		country: "France",
	},
];
---

<BaseInformationPageLayout
	head={{
		title: "Editorial board",
		description: "Acta Mechanica et Imperium editorial board",
	}}
	navigation={{
		navigation: NAVIGATION.about.editorialBoard,
	}}
	image={mainImage}
	pageTitle="Editorial board"
>
	<div class="container mx-auto mt-8">
		<div class="flex flex-row divide-secondary">
			<div class="flex flex-col gap-8 pr-16 left_navigation-sticky">
				<div>
					<h2 class="font-semibold pb-2 border-b-1 border-b-accent">
						Editorial board by country/region:
					</h2>
					<ul class="flex ml-2 flex-col gap-2 mt-4">
						<li>Brazil (2)</li>
						<li>Russia (1)</li>
						<li>India (2)</li>
						<li>China (1)</li>
						<li>South Africa (1)</li>
						<li>France (1)</li>
						<li>Malaysia (1)</li>
					</ul>
				</div>
				<!-- <div>
					<h2 class="font-semibold pb-2 border-b-1 border-b-accent">
						Editorial board for subject areas:
					</h2>
					<ul class="flex flex-col gap-2 mt-4 ml-2">
						<li>
							<a class="hover-accent" href="#gnc"
								>Guidance Navigation & Control</a
							>
						</li>
						<li>
							<a class="hover-accent" href="#aod"
								>Attitude & Orbital Dynamics</a
							>
						</li>
						<li>
							<a class="hover-accent" href="#mdoo"
								>Mission Design, Operation & Optimization</a
							>
						</li>
						<li>
							<a class="hover-accent" href="#spp">
								Space Power & Propulsion</a
							>
						</li>
						<li>
							<a class="hover-accent" href="#asm">
								Advanced Space Materials</a
							>
						</li>
						<li>
							<a class="hover-accent" href="#saoe">
								Sensors, Actuators & On-Board Equipment</a
							>
						</li>
						<li>
							<a class="hover-accent" href="#sple">
								Space Projects & Lessons Learned</a
							>
						</li>
						<li>
							<a class="hover-accent" href="#ssmm">
								Space Structures On The Moon & Mars</a
							>
						</li>
						<li>
							<a class="hover-accent" href="#lar"
								>Lunar & Asteroid Resources
							</a>
						</li>
						<li>
							<a class="hover-accent" href="#rsa"
								>Remote Sensing Applications
							</a>
						</li>
						<li>
							<a class="hover-accent" href="#aisa">
								Artificial Intelligence In Space Applications</a
							>
						</li>
					</ul>
				</div> -->
			</div>
			<div
				class="pl-16 flex-1 flex flex-col gap-16 border-l-border-primary border-l-1"
			>
				<div>
					<h2 class="text-2xl pb-2 border-b-2 w-1/2">
						Editor-In-Chief
					</h2>
					<div class="mt-8 grid grid-cols-3 gap-8">
						<BoardDistinctPersonCard
							{...{
								fullName: "Yury Razoumny",
								country: "Russia",
								affiliation: "RUDN University",
								color: "accent",
							}}
						/>
					</div>
				</div>
				<div>
					<h2 class="text-2xl pb-2 border-b-2 w-1/2">Co-Editors</h2>
					<div>
						<div class="mt-8 grid grid-cols-3 gap-8">
							{
								CO_EDITORS.map((e) => (
									<BoardDistinctPersonCard
										{...e}
										color="secondary"
									/>
								))
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</BaseInformationPageLayout>

<!-- <div>
	Editorial board by country/region 41 editors and editorial board
	members in 13 countries/regions United States (9) China (7) Canada
	(5)
</div>
<div class="h-[40vh]"></div>
<div class="grid grid-cols-4 gap-4">
	<BoardDistinctPersonCard
		{...{
			title: "Editor-in-chief",
			fullName: "Yury N. Razoumny",
			from: "Russia",
			color: "accent",
		}}
	/>
</div>
<div class="h-[40vh]"></div>
<div
	class="editorial-board-content grid grid-cols-3 mt-10 px-8 gap-x-4"
>
	<div>
		<p>Editor-in-Chief</p>
	</div>
	<div class="col-span-2">
		<div>
			<p>Yury N. Razoumny</p>
			<p>Russia</p>
		</div>
	</div>
	<div class="row-span-2">
		<p>Co-Editors</p>
		<p>Space Flight Mechanics</p>
	</div>
	<div class="col-span-2"></div>
	<div class="col-span-2">
		<div>
			<p>Petr Ivanov</p>
			<p>Russia</p>
		</div>
	</div>
	<div></div>
	<div class="col-span-2">
		<div>
			<p>Petr Ivanov</p>
			<p>Russia</p>
		</div>
	</div>
	<div></div>
	<div class="col-span-2">
		<div>
			<p>Petr Ivanov</p>
			<p>Russia</p>
		</div>
	</div>
	<div></div>
	<div class="col-span-2">
		<div>
			<p>Petr Ivanov</p>
			<p>Russia</p>
		</div>
	</div>
	<div></div>
	<div class="col-span-2">
		<div>
			<p>Petr Ivanov</p>
			<p>Russia</p>
		</div>
	</div>
	<div class="row-span-2">
		<p></p>
		<p>Space Physical Sciences</p>
	</div>
	<div></div>
	<div class="col-span-2">
		<div>
			<p>Petr Ivanov</p>
			<p>Russia</p>
		</div>
	</div>
	<div></div>
	<div class="col-span-2">
		<div>
			<p>Petr Ivanov</p>
			<p>Russia</p>
		</div>
	</div>
</div>
<div class="h-[40vh]"></div>
<table
	class="editorial-board-content table border-collapse table-auto mt-10 px-8"
>
	<tbody>
		<tr>
			<th>
				<p class="text-xl">Editor-in-Chief</p>
			</th>
			<td>
				<div>
					<p class="text-lg">Yury N. Razoumny</p>
					<p class="text-sm">Russia</p>
				</div>
			</td>
		</tr>
		<tr>
			<th>
				<p class="text-xl">Co-Editors</p>
			</th>
		</tr>
		<tr>
			<th>
				<p class="text-lg ml-4">Space Flight Mechanics</p>
			</th>
			<td>
				<p class="text-lg">Petr Ivanov</p>
				<p class="text-sm">Russia</p>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<p class="text-lg">Petr Ivanov</p>
				<p class="text-sm">Russia</p>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<p class="text-lg">Petr Ivanov</p>
				<p class="text-sm">Russia</p>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<p class="text-lg">Petr Ivanov</p>
				<p class="text-sm">Russia</p>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<p class="text-lg">Petr Ivanov</p>
				<p class="text-sm">Russia</p>
			</td>
		</tr>
		<tr>
			<th>
				<p class="text-lg ml-4">Space Physical Sciences</p>
			</th>
			<td>
				<p class="text-lg">Petr Ivanov</p>
				<p class="text-sm">Russia</p>
			</td>
		</tr>
		<tr class="pt-4">
			<th>
				<p class="text-xl pt-8">Chair</p>
			</th>
			<td>
				<div class="pt-8">
					<p class="text-lg">Petr Ivanov</p>
					<p class="text-sm">Russia</p>
				</div>
			</td>
		</tr>
		<tr>
			<th>
				<p class="text-xl pt-8">Members</p>
			</th>
			<td>
				<div class="pt-8">
					<p class="text-lg">Petr Ivanov</p>
					<p class="text-sm">Russia</p>
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div>
					<p class="text-lg">Petr Ivanov</p>
					<p class="text-sm">Russia</p>
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div>
					<p class="text-lg">Petr Ivanov</p>
					<p class="text-sm">Russia</p>
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div>
					<p class="text-lg">Petr Ivanov</p>
					<p class="text-sm">Russia</p>
				</div>
			</td>
		</tr>
	</tbody>
</table> -->
