---
import BaseInformationPageLayout from "@layouts/BaseInformationPageLayout.astro";
import GuidanceForAuthors from "@components/pages/ethics-policy/GuidanceForAuthors.astro";
import GuidanceForEditorial from "@components/pages/ethics-policy/GuidanceForEditorial.astro";
import GuidanceForEditorInChief from "@components/pages/ethics-policy/GuidanceForEditorInChief.astro";
import GuidanceForPeerReviewers from "@components/pages/ethics-policy/GuidanceForPeerReviewers.astro";
import GuidanceInConflicts from "@components/pages/ethics-policy/GuidanceInConflicts.astro";
import { NAVIGATION } from "@lib/client/navigation";
import mainImage from "@assets/images/mainImages/futuristic-time-machines-design.jpg";
import InformationPageToC from "@components/layout/page/InformationPageToC.astro";
---

<BaseInformationPageLayout
	head={{
		title: "Ethical Publication Policy",
		description: "Acta Mechanica et Imperium ethical publication policy",
	}}
	navigation={{
		navigation: NAVIGATION.about.ethicsPolicy,
	}}
	image={mainImage}
	pageTitle="Ethical Publication Policy"
>
	<div class="container mx-auto mt-8">
		<section class="text-justify text-left-border">
			Ethical publication policy pursued by the editorial board of the
			scientific on-line journal «Acta Mechanica Et Imperium» meets the
			criteria of the scholarly community and framework of publication
			ethics that implies honesty, confidentiality, oversight of
			publications, resolving conflicts of interest etc. and is stated in
			the guidelines by the Committee on Publication Ethics (COPE) as well
			as leading Russian and foreign peer-reviewed journals and publishing
			houses.
		</section>
		<div class="flex flex-row divide-secondary mt-8">
			<!-- <div class="flex flex-col gap-8 pr-8 left_navigation-sticky">
				<div>
					<ul class="flex flex-col gap-2">
						<li>
							<a
								class="hover-accent"
								href={`#guidanceForAuthors`}
							>
								Guidance For Authors
							</a>
						</li>
						<li>
							<a
								class="hover-accent"
								href={`#guidanceForEditorial`}
							>
								Guidance For Editorial
							</a>
						</li>
						<li>
							<a
								class="hover-accent"
								href={`#guidanceForEditorInChief`}
							>
								Guidance For Editor-In-Chief
							</a>
						</li>
						<li>
							<a
								class="hover-accent"
								href={`#guidanceForPeerReviewers`}
							>
								Guidance For Peer-Reviewers
							</a>
						</li>
						<li>
							<a
								class="hover-accent"
								href={`#guidanceInConflicts`}
							>
								Guidance In Conflicts
							</a>
						</li>
					</ul>
				</div>
			</div> -->
			<div class="flex-1 gap-16">
				<GuidanceForAuthors />
				<GuidanceForEditorial />
				<GuidanceForEditorInChief />
				<GuidanceForPeerReviewers />
				<GuidanceInConflicts />
			</div>
		</div>
	</div>
</BaseInformationPageLayout>
