services:
    actamech_postgres:
        image: postgres:latest
        restart: unless-stopped
        environment:
            - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
            - POSTGRES_DB=${DATABASE_NAME}
            - POSTGRES_USER=${DATABASE_USER}
        ports:
            - "127.0.0.1:3021:5432"
        expose:
            - 5432
        volumes:
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}"]
            interval: 5s
            timeout: 5s
            retries: 5
            start_period: 10s

    # pgadmin:
    #     container_name: pgadmin4_container
    #     image: dpage/pgadmin4:latest
    #     restart: unless-stopped
    #     environment:
    #         PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
    #         PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    #     ports:
    #         - "3000:80"
    #     volumes:
    #         - pgadmin_data:/var/lib/pgadmin
    actamech_api:
        build: ./ 
        restart: unless-stopped
        ports:
            - "127.0.0.1:3022:8000"
        volumes:
            - api_data:${FILE_STORAGE_PATH}
        depends_on:
            actamech_postgres:
                condition: service_healthy
        network_mode: host
volumes:
    postgres_data:
    # pgadmin_data:
    api_data: