---
import SectionTitle from "@components/common/SectionTitle.astro";
const indexing = ["Scopus", "Web of Science", "RSCI"];
---

<SectionTitle alt title="Abstracting and indexing" />
<section class="container mx-auto mt-8">
  <div class="flex justify-around">
    {
      indexing.map((index) => (
        <div class="px-6 py-4 border-y-2 border-accent max-w-xs text-center w-full font-semibold">
          {index}
        </div>
      ))
    }
  </div>
</section>
