---
import SectionTitle from "@components/common/SectionTitle.astro";
---

<article class="text-left-border">
  <!-- <h1 class="text-heading mb-2 indent-0">Sponsored by the RUDN University</h1> -->
  <p>
    Acta Mechanica et Imperium, the official journal of the RUDN University,
    considers submissions of original contributions in all fields of basic
    engineering, life, and social space sciences and of space technology related
    to:
  </p>
  <ul class="list">
    <li>The peaceful scientific exploration of space,</li>
    <li>Its exploitation for human welfare and progress,</li>
    <li>
      Conception, design, development and operation of space-borne and
      Earth-based systems,
    </li>
  </ul>
  <p>
    In addition to regular issues, the journal publishes select special issues
    on topics of current interest, such as: microgravity, space station
    technology, geostationary orbits, and space economics. Other subject areas
    include satellite technology, space transportation and communications, space
    energy, power and propulsion, astrodynamics, extraterrestrial intelligence
    and Earth observations.
  </p>
  <p>
    For more information about the journal «Acta Mechanica et Imperium», visit
    our home page: https://actamech.com
  </p>
</article>
