---
import SectionTitle from "@components/common/SectionTitle.astro";
import SubjectAreasCard from "./components/SubjectAreasCard.astro";

const subjectAreas = [
	"Space Flight Mechanics",
	"Space Operations",
	"Small Satellite Missions",
	"Earth Observations",
	"Deep Space Exploration",
	"Space Materials & Structures",
	"Space Power & Propulsion",
	"Space Law & Economics",
];
---

<SectionTitle alt title="Subject Areas" />
<section class="container mx-auto mt-8">
	<div class="flex flex-wrap gap-4 justify-center">
		{
			subjectAreas.map((area) => (
				<SubjectAreasCard>
					<span class="text-center w-full font-semibold">{area}</span>
				</SubjectAreasCard>
			))
		}
	</div>
</section>
