---
import SectionTitle from "@components/common/SectionTitle.astro";
import SubjectAreasCard from "./components/SubjectAreasCard.astro";

const subjectAreas = [
	"Guidance Navigation & Control",
	"Attitude & Orbital Dynamics",
	"Mission Design, Operation & Optimization",
	"Space Power & Propulsion",
	"Advanced Space Materials",
	"Sensors, Actuators & On-Board Equipment",
	"Space Projects & Lessons Learned",
	"Space Structures On The Moon & Mars",
	"Lunar & Asteroid Resources",
	"Remote Sensing Applications",
	"Artificial Intelligence In Space Applications",
];
---

<SectionTitle alt title="Subject Areas" />
<section class="container mx-auto mt-8">
	<div class="flex flex-wrap gap-4 justify-center">
		{
			subjectAreas.map((area) => (
				<SubjectAreasCard>
					<span class="text-center w-full font-semibold">{area}</span>
				</SubjectAreasCard>
			))
		}
	</div>
</section>
