---
import LucideChevronDown from "~icons/lucide/chevron-down";

interface Props {
	text: string;
}
const { text } = Astro.props;
---

<div class="relative inline-block group header-dropdown-wrapper">
	<button
		class="uppercase font-semibold flex flex-row items-center cursor-pointer"
		>{text}
		<LucideChevronDown
			className="group-hover:rotate-180 transition-transform "
		/>
	</button>
	<div
		class="hidden absolute z-20 pt-6 group-hover:block hover:block header-dropdown-items-container"
	>
		<div class="bg-secondary/40 backdrop-blur px-6 py-4 rounded-b-base">
			<slot />
		</div>
	</div>
</div>
