---
import BaseInformationPageLayout from "@layouts/BaseInformationPageLayout.astro";
import mainImage from "@assets/images/mainImages/futuristic_spaceship_orbits_planet_powered_by_solar_panels_fuel.jpg";
import IssueCard from "@components/pages/all-issues/IssueCard.astro";
import { NAVIGATION } from "@lib/client/navigation";
---

<BaseInformationPageLayout
	head={{
		title: "All Journal Issues",
		description: "Acta Mechanica et Imperium all issues",
	}}
	navigation={{
		navigation: NAVIGATION.articlesAndIssues.allIssues,
	}}
	image={mainImage}
	pageTitle="Volumes & Issues"
>
	<div class="container mx-auto mt-8">
		<div class="flex flex-row divide-secondary">
			<div
				class="flex flex-col gap-8 pr-8 left_navigation-sticky min-w-1/5"
			>
				<div>
					<h2 class="font-semibold pb-2 border-b-1 border-b-accent">
						All issues:
					</h2>
					<ul class="flex flex-col gap-2 mt-4">
						<li>2025 - Volume 1</li>
					</ul>
				</div>
			</div>
			<div
				class="pl-8 flex-1 flex flex-col gap-16 border-l-border-primary border-l-1"
			>
				<div>
					<h2 class="text-xl font-semibold pb-2 border-b-2 w-1/2">
						2025 — Volume 1
					</h2>
					<div class="mt-8 grid grid-cols-2 gap-8">
						<IssueCard
							{...{
								issueName: "Volume 1",
								info: "In progress",
							}}
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</BaseInformationPageLayout>
