---
import siteIcon from "@assets/icons/siteIconLight.png";
import RUDNLogo from "@assets/icons/RUDNLogo.png";
import ConfChairLogo from "@assets/icons/ConfChairLogo.png";
import { Image } from "astro:assets";
import MainFooterLink from "./MainFooterLink.astro";
import MaterialSymbolsMailOutline from "~icons/material-symbols/mail-outline";
---

<footer
	class="py-4 bg-secondary w-full text-secondary-text min-h-96 flex flex-col justify-between border-t-accent border-t-2"
	transition:persist
>
	<div class="container flex justify-between m-auto">
		<a href="/" class="flex flex-row items-center my-auto gap-4 h-full">
			<div class="flex flex-row gap-2">
				<Image class="h-16 w-auto" src={siteIcon} alt="Site icon" />
				<h1 class="font-semibold font-playfair-display text-nowrap">
					ACTA MECHANICA <br /> ET IMPERIUM
				</h1>
			</div>
			<div class="">
				<Image class="h-16 w-auto" src={RUDNLogo} alt="RUDN Logo" />
			</div>
		</a>
		<div
			class="after:bg-primary after:opacity-20 after:h-3/4 after:my-auto after:w-[1px] flex flex-row"
		>
		</div>
		<section>
			<div class="flex flex-col gap-2">
				<h1 class="uppercase text-lg font-bold mb-4">
					Articles & Issues
				</h1>
				<MainFooterLink disabled text="Latest issue" url="/volumes/1" />
				<MainFooterLink text="All issues" url="/articles/all-issues" />
				<MainFooterLink
					disabled
					text="Articles in press"
					url="/articles/articles-in-press"
				/>
			</div>
		</section>
		<div
			class="after:bg-primary after:opacity-20 after:h-3/4 after:my-auto after:w-[1px] flex flex-row"
		>
		</div>
		<section>
			<div class="flex flex-col gap-2">
				<h1 class="uppercase text-lg font-bold mb-4">About</h1>
				<MainFooterLink
					text="Aims and scope"
					url="/about/aims-and-scope"
				/>
				<MainFooterLink
					text="Editorial board"
					url="/about/editorial-board"
				/>
				<MainFooterLink
					text="Ethics Policy"
					url="/about/ethics-policy"
				/>
				<MainFooterLink
					text="Declaration on privacy"
					url="/about/declaration-on-privacy"
				/>
				<MainFooterLink text="Contacts" url="/about/contacts" />
			</div>
		</section>
		<div
			class="after:bg-primary after:opacity-20 after:h-3/4 after:my-auto after:w-[1px] flex flex-row"
		>
		</div>
		<section>
			<div class="flex flex-col gap-2">
				<h1 class="uppercase text-lg font-bold mb-4">Publish</h1>
				<MainFooterLink
					disabled
					external
					text="Submit your article "
					url="/"
				/>
				<MainFooterLink
					disabled
					text="Guide for authors"
					url="/publish/guide-for-authors"
				/>
			</div>
		</section>
	</div>
	<div
		class="text-gray-400 text-sm flex flex-row justify-between items-end border-t-2 px-4 pt-2 border-t-primary"
	>
		<section>
			<p>Copyright © 2025. All rights reserved.</p>
		</section>
		<section>
			<a
				class="hover:text-gray-100 base-colors-transition"
				href="/about/contacts">Contact</a
			> |
			<!-- <a
				class="hover:text-gray-100 base-colors-transition"
				href="/sitemap">Site Map</a
			> | -->
			<a
				class="hover:text-gray-100 base-colors-transition"
				href="/about/declaration-on-privacy">Terms & Privacy Policy</a
			>
		</section>
	</div>
</footer>
