---
import EiExternalLink from "~icons/ei/external-link";
interface Props {
	text: string;
	url: string;
	external?: boolean;
	disabled?: boolean;
}
const { text, url, external = false, disabled = false } = Astro.props;
---

{
	disabled ? (
		<span
			title="Will be available soon"
			class="w-fit text-contrast-disabled-text uppercase text-sm font-semibold"
		>
			{text}
			{external && <EiExternalLink className="inline" />}
		</span>
	) : (
		<a
			class="w-fit underline-on-hover uppercase text-sm font-semibold"
			href={url}
		>
			{text}
			{external && <EiExternalLink className="inline" />}
		</a>
	)
}
