@import "tailwindcss";



.button {
    @apply border px-4 py-2 rounded bg-slate-200 border-slate-200 hover:bg-slate-500 hover:text-white cursor-pointer hover:border-slate-500 transition-colors duration-150
}

.input {
    @apply border-1 rounded px-2 py-1 border-slate-800 outline-slate-800
}


.button.success {
    @apply bg-green-400 border-green-400 hover:bg-green-600 hover:text-white hover:border-green-600
}

.button.error {
    @apply bg-red-500 border-red-500 text-white hover:bg-red-600 hover:border-red-600
}