---
import "@styles/global.css";
import { type IBaseInformationPageLayout } from "./interfaces";
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";
interface Props extends IBaseInformationPageLayout {}
const {
	head: { title = "Acta Mechanica et Imperium", description, keywords } = {},
	image,
	pageTitle,
} = Astro.props;
---

<BaseLayout {...Astro.props}>
	<div class="mb-16">
		<div class="w-full relative">
			{
				image && (
					<>
						<Image
							class="w-full h-80 object-cover brightness-30"
							src={image}
							alt={"Main page image"}
						/>
						<div class="text-secondary-text absolute z-10 top-0 left-0 h-full w-full flex items-center justify-center flex-col gap-10">
							<h1 class="text-3xl font-bold font-[ZT-Neue-Ralewe-Regular]">
								ACTA MECHANICA ET IMPERIUM
							</h1>
						</div>
					</>
				)
			}
		</div>
		<div class="border-y-accent border-y-2 mt-16">
			<div class="container mx-auto py-8">
				<h1 class="text-4xl uppercase">{pageTitle}</h1>
			</div>
		</div>
		<slot />
	</div>
</BaseLayout>
